@use 'sass:color';

/****************
** Cart Styles **
****************/
.cart {
    @include d-flex(column, unset, space-between);
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 450px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    transition: all .3s ease;

    .empty {
        @include d-flex(column, center, center, nowrap, px-to-rem(24px));
        position: relative;
        width: 100%;
        flex: 1 1 auto;

        .description {
            font-size: px-to-rem(16px);
            font-weight: 600;
            line-height: px-to-percent(24px, 16px);
        }
    }

    &.open {
        right: 0;
    }

    &__header-row {
        @include d-flex(row, center, space-between);
        padding: px-to-rem(16px) px-to-rem(24px);
        color: $btn--color;
        border-bottom: 1px solid $border--color;

        .total__items {
            @include d-flex(unset, center, unset, nowrap, px-to-rem(7px));
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            
            svg {
                width: 22px;
                height: 22px;
            }
        }
    }

    &-close__icon {
        @include d-flex(unset, center, center);
        position: relative;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: $secondary-bg--color;
        transition: all .3s ease;
        cursor: pointer;

        svg {
            width: 12px;
            height: 12px;

            path {
                transition: all .3s ease;
            }
        }

        &:hover {
            background-color: $btn--color;

            svg path {
                fill: #fff;
            }
        }

        @include breakpoint--sm(500px) {
            background-color: $btn--color;

            svg path {
                fill: #fff;
            }
        }
    }

    .cart__products-list {
        flex: 1 1 auto;
        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__footer {
        padding: px-to-rem(20px) px-to-rem(24px);
    }

    &-checkout__button {
        @include d-flex(row, center, space-between);
        padding: px-to-rem(4px);
        width: 100%;
        height: px-to-rem(56px);
        border-radius: 9999px;
        background-color: $btn--color;
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
            background-color: color.adjust($btn--color, $lightness: -5%);
        }

        .text {
            color: #fff;
            padding: 0 px-to-rem(20px);
        }

        .total-price {
            @include d-flex(unset, center, center);
            height: px-to-rem(48px);
            padding: 0 px-to-rem(20px);
            background-color: #fff;
            border-radius: 99999px;
            color: $btn--color;
        }

        .text,
        .total-price {
            font-size: px-to-rem(14px);
            font-weight: 700;
            line-height: px-to-percent(20px);
        }
    }
}