/***************************
** Categories List Styles **
***************************/
.categories__list {
    @include d-flex(column, unset, unset);
    position: relative;
    width: 100%;
    overflow: hidden;

    .category__card {
        @include d-flex(column, unset, unset);
        position: relative;
        width: 100%;
        height: px-to-rem(44px);
        overflow: hidden;
        transition: $tr-02--ease;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 5px;
            width: 5px;
            height: 5px;
            border: 1px solid $primary-black--color;
            border-bottom: none;
            border-left: none;
            transform: translateY(-50%) rotate(45deg);
            opacity: 0;
            transition: all .3s ease;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        .category {
            @include d-flex(row, center, unset, nowrap, px-to-rem(16px));
            position: relative;
            display: inline-flex;
            width: px-to-rem(210px);
            min-height: px-to-rem(44px);
            padding: px-to-rem(4px) 0;
            cursor: pointer;

            .icon {
                position: relative;
                width: px-to-rem(20px);
                height: px-to-rem(20px);

                svg {
                    width: 100%;
                    height: 100%;
                    
                    path {
                        fill: $secondary-grey--color;
                    }
                }
            }

            .name {
                font-size: px-to-rem(14px);
                line-height: px-to-percent(20px, 14px);
                font-weight: 600;
                color: $secondary-grey--color;
            }
        }
    }
}